body {
  background-color: #e7e5dc;
  margin: 0px;
  padding: 0px;
}

.home {
  background-color: #662222;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: block;
}

.link {
  padding: 10px;
  font-family: "Jost", sans-serif;
  align-items: center;
  margin: 6px;
  text-decoration: none;
  color: #e7e5dc;
  font-size: 17px;
}

.link:hover {
  margin: 3px;
  font-weight: bold;
  background-color: #e7e5dc2a;

}

h1 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 8px;

}

h2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-left: 8px;
}

.botao {
    background-color: #000;
    padding: 5px;
    border-radius: 8px;
    border: none;
    margin-left: 8px;
}

.botao:hover {
    background-color: #662222;
    border-color: #351212;
    margin-left: 8px;
}

.text {
    color: #e7e5dc;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 10px;
    padding-left: 8px;

}

p {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-left: 8px;

}

img {
    width: 200px;
    border-radius: 15px;
    padding-left: 8px;
}