body{
  padding: 0;
  margin: 0;
}


.navbar {
  background-color: #88272B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 80px;
}

.home {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  font-family: "Caprasimo", serif;
  text-decoration: none;
  color: #FBDDAA;
  font-size: 17px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.link:hover {
  border-bottom: 3px solid #FBDDAA;
}

.loc {
  border-bottom: 3px solid #FBDDAA;
}

.botao-home {
  display: flex;
  align-items: center;
}

.botao {
  color: #FBDDAA;
  font-family: "Caprasimo", serif;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  background-color: #662222;
  padding: 8px 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.botao:hover {
  background-color: #551919;
}
/*ATÉ AQUI NAVBAR*/


.titulo {
  color: #662222;
  display: flex;
  justify-content: center;
  font-family: "Jost", sans-serif;
}

.texto {
  font-family: "Jost", sans-serif;
  text-align: left;
  padding: 2px;
}

.subtitulo{
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
}


.final {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-weight: 500;
  padding-left: 8px;
}
.campo{
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px ;
  outline: none;
}
  
.nome{
margin-left: 14px ;
}
.email{
margin-left: 16px ;
}

.container-formulario{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
}

.blocos{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #e7e5dce0;
  padding: 20px;
  flex: 1;
  max-width: 500px;
}

.bloco-formulario{
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
}
.botao-formulario{
  margin-top: 10px;
}

/*Apartir daqui footer*/

.footer {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #88272B;
  font-family: "Jost", sans-serif;
  color: #FBDDAA;
}

.titulos-footer {
  font-size: 25px;
}

.subtitulos-footer {
  margin-bottom: 1px;
}

.itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 30px;
}

.item-lista {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.img-logo-footer {
  width: 170px;
}

.logo-footer {
  display: flex;
  align-items: center;
}

.link-footer {
  text-decoration: none;
  color: #FBDDAA;
}

li {
  list-style-type: none;
}

