body{
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #88272B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 90px;
  padding-left: 20px;
}


.home {
  background-color: #88272B;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}


.link {
  padding: 10px;
  font-family: "Jost", sans-serif;
  align-items: center;
  text-decoration: none;
  color: #ffe8c3;
  font-weight: bold;
  font-size: 17px; 
  display: flex;
  justify-content: center;
}

.link:hover {
  color: #752427 ;

}

.titulo {
  /*titulo e botao*/
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.texto {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-indent: 1em;
  padding-left: 8px;
  text-align: left;
}

.peq {
  font-weight: bold;
  font-style: italic;

}


.botao {
  border: none;
  background-color: #662222;
  padding: 3px;
  margin: 3px;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 15px;
}

.text-botao {
  text-decoration: none;
  color: #e7e5dc;
  font-size: 18px;
}