body {
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #88272B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: #88272B;

}

.img-logo {
  width: 80px;
  padding-left: 20px;

}


.home {
  background-color: #88272B;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.link {
  margin-left: 10px;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  text-decoration: none;
  color: #FBDDAA;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.link:hover {
  border-bottom: 3px solid#FBDDAA;
}

/*loc = indica que esta nessa pagina*/
.loc {
  border-bottom: 3px solid#FBDDAA;

}

.reserva {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao {
  border: none;
  background-color: #662222;
  padding: 3px;
  margin: 3px;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 15px;
}

.text-botao {
  text-decoration: none;
  color: #FBDDAA;
  font-size: 18px;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.titulo {
  color: #662222;
  display: flex;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.subtitulo{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-indent: 1em;
}
/*Até aqui NAVBAR*/
.texto {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-indent: 1em;
  padding-left: 8px;
  text-align: left;
}

.peq {
  font-style: italic;
}

.nossa-loja{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.imagens-loja{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 15px;
}
.img-loja{
  width: 250px;
  border-radius: 15px;
}

/*Apartir daqui footer*/
.footer {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #88272B;
  font-family: "Jost", sans-serif;
  color: #FBDDAA;
}


.titulos-footer {
  font-size: 25px;
}

.subtitulos-footer {
  margin-bottom: 1px;
}

.itens {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px; /* largura máxima */
  width: 100%;
  padding: 30px;
}


.item-lista {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}


.icon {
  width: 20px;
  cursor: pointer;
}

.img-logo-footer {
  width: 170px;

}

.logo-footer {
  display: flex;
  align-items: center;
}


li {
  list-style-type: none;
}