body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  background-color: #88272B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 80px;
}

.home {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  font-family: "Caprasimo", serif;
  text-decoration: none;
  color: #FBDDAA;
  font-size: 17px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.link:hover {
  border-bottom: 3px solid #FBDDAA;
}

/* Indica página atual */
.loc {
  border-bottom: 3px solid #FBDDAA;
}

.botao-home {
  display: flex;
  align-items: center;
}

.botao {
  color: #FBDDAA;
  font-family: "Caprasimo", serif;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  background-color: #662222;
  padding: 8px 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.botao:hover {
  background-color: #551919;
}

.titulo {
  color: #662222;
  display: flex;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.subtitulo {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-indent: 1em;
}

.texto {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-indent: 1em;
  padding-left: 8px;
  text-align: left;
}


.fala {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-weight: 500;
  text-indent: 1em;
  padding-left: 8px;
}

.img-restaurante {
  width: 250px;
  border-radius: 15px;
  margin-left: 15px;
  
}

.chef {
  width: 280px;
  border-radius: 15px;
  margin-left: 15px;

}

/*Apartir daqui footer*/
.footer {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #88272B;
  font-family: "Jost", sans-serif;
  color: #FBDDAA;
}


.titulos-footer {
  font-size: 25px;
}

.subtitulos-footer {
  margin-bottom: 1px;
}

.itens {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px; /* largura máxima */
  width: 100%;
  padding: 30px;
}


.item-lista {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}


.icon {
  width: 20px;
  cursor: pointer;
}

.img-logo-footer {
  width: 170px;

}

.logo-footer {
  display: flex;
  align-items: center;
}

.link-footer {
  text-decoration: none;
  color: #FBDDAA
;
}


li {
  list-style-type: none;
}